In [42]:
import pandas as pd
import numpy as np


df = pd.read_csv('fills',delimiter = " ",header = None)

In [43]:
temp = df.ix[df[5] == 'S'][4]

temp = -1*temp

In [44]:
df.loc[df[5] == 'S',4] = temp

In [45]:
df1 = df.ix[df[2] == 'MSFT']
df2 = df.ix[df[2] == 'AAPL']

In [50]:
df1.head()

   0              1     2      3    4  5
0  F  1388534400000  MSFT  42.43  300  B
2  F  1388534472953  MSFT  42.93 -300  S
4  F  1388534638571  MSFT  41.19  100  B
6  F  1388534742028  MSFT  41.49 -300  S
8  F  1388534839385  MSFT  41.31 -300  S

In [40]:
 f = zip(np.cumsum(df1[4]),np.cumsum(df2[4]))

In [73]:
df2.tail()

        0              1     2       3    4  5
630469  F  1420069931012  AAPL  181.03  300  B
630471  F  1420070035905  AAPL  181.35  300  B
630473  F  1420070122386  AAPL  178.26  300  B
630475  F  1420070207691  AAPL  174.80 -300  S
630477  F  1420070302934  AAPL  180.76 -300  S

In [64]:
F = np.cumsum(df1[4])

In [70]:
np.searchsorted(df1[1],1420066800000)

array([315203])

In [79]:
df1.values[315202]

array(['F', 1420066785905, 'MSFT', 41.7, -200, 'S'], dtype=object)

236

In [67]:
F

0           300
2             0
4           100
6          -200
8          -500
10         -400
12         -300
14         -200
16         -500
18         -800
20        -1100
22         -900
24        -1100
26        -1000
28         -800
30         -500
32         -600
34         -400
36         -600
38         -400
40         -500
42         -800
44         -600
46         -900
48        -1200
50        -1400
52        -1600
54        -1800
56        -1900
58        -2000
          ...
630418   -48300
630420   -48500
630422   -48300
630424   -48000
630426   -48300
630428   -48100
630430   -47900
630432   -47800
630434   -47700
630436   -47800
630438   -47600
630440   -47500
630442   -47200
630444   -47100
630446   -47300
630448   -47400
630450   -47300
630452   -47500
630454   -47200
630456   -47500
630458   -47200
630460   -47500
630462   -47400
630464   -47300
630466   -47400
630468   -47100
630470   -46800
630472   -46500
630474   -46800
630476   -47100
Name: 4, dtype: int64